@if(loading){

<div class="loading">

    Loading...

</div>

}
@else if(data.length === 0){

<div class="empty">

    No records found.

</div>

}
@else{

<table>

    <thead>

        <tr>

            @for(column of columns; track column.key){

            <th>

                {{column.header}}

            </th>

            }

            @if(showActions) {
            <th>

                Actions

            </th>
            }

        </tr>

    </thead>

    <tbody>

        @for(item of data; track item.id){

        <tr>

            @for(column of columns; track column.key){

            <td>

                {{item[column.key]}}

            </td>

            }

            @if(showActions) {
            <td>

                <button class="edit-btn" (click)="edit.emit(item.id)">

                    Edit

                </button>

                <button class="delete-btn" (click)="delete.emit(item.id)">

                    Delete

                </button>

            </td>
            }
        </tr>
        
        }

    </tbody>

</table>

}