@if(loading){

<div class="loading">

    Loading...

</div>

}
@else if(data.length === 0){

<div class="empty">

    No records found.

</div>

}
@else{

<table>

    <thead>

        <tr>

            @for(column of columns; track column.key){

            <th>

                {{column.header}}

            </th>

            }

            @if(showActions) {
            <th>

                Actions

            </th>
            }

        </tr>

    </thead>

    <tbody>

        @for(item of data; track item.id){

        <tr>

            @for(column of columns; track column.key){

            <td>

                {{item[column.key]}}

            </td>

            }

            @if(showActions) {
            <td>

                @for(action of actions; track action.label){
                    <button [class]="action.cssClass" (click)="action.onClick(item)">{{action.label}} {{action.icon}}</button>
                }

            </td>
            }
        </tr>
        
        }

    </tbody>

</table>

}